.adressHeadding {
    font-size: 1.5rem;
}
.contactIcon {
    width: 20px;
}
.fa-facebook-messenger {
    --fa-primary-color: green;
}
.localization {
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 0 6%;
    &__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14%;
    }
}