.massageDurration {
    font-size: 0.8rem;
    font-weight: 700;
}
.massageName {
    font-size: 1.2rem;
}
.massagePrice {
    font-size: 1.3rem;
    font-weight: 700;
    align-self: center;
    justify-self: center;
}
.prices__list {
list-style-type: none;
padding: 2% 6%;
}
.prices__list--item {
display: grid;
grid-template-columns: 5fr 4fr 3fr;
margin-bottom: 5%;
}
.prices__list--inlineSeparator {
    border-bottom: dotted 1px #797979;
    width: 80%;
    align-self: center;
    justify-self: center;
}
.prices__title {
    margin-left: 5%;
}

@media (min-width: $mobile-horizont) and (max-width: $desktop) {
    .prices__list--item {
        grid-template-columns: 6fr 4fr 2fr;
    }
    .prices__list--inlineSeparator {
        width: 90%;
    }
}