$btnBorderRadius: 5%;
$darkBg: #7E7F9A;
$darkOlive: #272838;
$mainPink: #EB9486;
$lightBg: #F9F8F8;
$pastelLime: #F3DE8A;
$textDark: #141414;

$mobile: 380px;
$mobile-horizont: 540px;
$tablet: 768px;
$desktop: 960px;